$font: "Open Sans", sans-serif;

$background-color: #212122;
$primary-color: #0074d9;
$gray: #636363;
$light-gray: #d5d5d5;
$dark-gray: #333333;
$light: #f8f9fa;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-largescreen: 1200px;
