@use "../_variables.scss";

.skills-and-competences {
  width: 100%;
  margin: 6% auto;
  .card-container {
    display: grid;
    justify-items: stretch;
    gap: 22px;
    grid-template-areas: "html css js php" "sql git linux win";
    .card {
      padding-bottom: 50px;
      background: variables.$background-color;
      border-radius: 22px;
      box-shadow: 0px 0px 12px 0px #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 150px;
        height: 150px;
        margin: 18% 0;
      }
      label {
        color: variables.$light-gray;
        margin: 5% 0;
      }
      progress {
        border-radius: 7px;
        border: 2px solid variables.$gray;
        width: 80%;
        height: 12px;
      }
      progress::-webkit-progress-bar {
        background-color: variables.$background-color;
        border-radius: 7px;
      }
      progress::-webkit-progress-value {
        background-color: variables.$primary-color;
        border: 2px solid variables.$background-color;
        border-radius: 7px;
      }
    }
    .html {
      grid-area: html;
    }
    .css {
      grid-area: css;
    }
    .js {
      grid-area: js;
    }
    .php {
      grid-area: php;
    }
    .sql {
      grid-area: sql;
    }
    .git {
      grid-area: git;
    }
    .linux {
      grid-area: linux;
    }
    .win {
      grid-area: win;
    }
  }
}

@media only screen and (max-width: variables.$breakpoint-mobile) {
  .skills-and-competences {
    padding: 0 12px;
    .card-container {
      display: block;
      margin: 22px 0;
      .card {
        margin: 22px;
      }
    }
  }
}

@media only screen and (min-width: variables.$breakpoint-mobile) {
}

@media only screen and (min-width: variables.$breakpoint-tablet) {
}

@media only screen and (min-width: variables.$breakpoint-largescreen) {
}
